# Create a .env.local file

# Replace with GEMINI API key from Google Cloud Console project
# https://console.cloud.google.com/apis/credentials?project=swp-livingvectors
GEMINI_API_KEY='GEMINI_API_KEY'

LIVEKIT_URL=ws://127.0.0.1:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret